{% extends 'base.html.twig' %}

{% block title %}Déclaration des cryptos : Mon compte{% endblock %}
{% block title1 %}Mon compte{% endblock %}

{% block content %}
    {{app.user.name}} bienvenue ! <br/>
    <a href="{{path('account_password')}}">Modifier mon mot de passe</a><br/>
{% endblock %}
