{% extends 'base.html.twig' %}

{% block title %}Déclaration des cryptos : Modifier mon mot de passe{% endblock %}
{% block title1 %}Modifier mon mot de passe{% endblock %}

{% block content %}
    <a href="{{path('account')}}">Retourner à mon compte</a><br/>
    {% if notification %}
        <div class="alert alert-info">{{notification}}</div>
    {% endif %}
    {{form(form)}}
{% endblock %}